.class-thumbnail, .wheel-thumbnail{
    padding:0.4em;
    width:30%;
    margin:1.5%;
    border: 1px solid lightgray;
}
.class-thumbnail button{
    float: right;
}
.trimradio{
    width: 46%;
}
.class-thumbnail input[type="radio"], .wheel-thumbnail input[type="radio"], .color-thumbnail input[type="radio"]{
    display: none;
}
.right{float:right;}

.clearfix{
    clear: both;
}
.active{
    color:white;
}
.tx-grey{
    color:lightgrey;
}
#summary{
    min-height:400px;
    border-left:1px solid grey
}
#summary h3{
    padding-bottom:0.5em;
    border-bottom: 1px solid grey;
}
#summary i{
    color:grey;
    min-width:120px;
    display: inline-block;
}
.colorradio{
    float:left;
    width:30px;
    height:30px;
    display:block;
    border:2px solid white;
}
.selected{
    border:2px solid #d9230f;
}
.extras-thumbnail input{
    display: none
}
.extras-thumbnail {
    border: 1px solid grey;
}
.extras-thumbnail h4 {
    margin-top:0;
}
.extras-price{
    min-width:30px;
    float:right;
}