.class-thumbnail{
    padding:1em;
    width:30%;
    margin:1%;
    border: 1px solid lightgray;
}

.class-thumbnail input[type="radio"]{
    display: none;
}
.right{float:right;}

.clearfix{
    clear: both;
}
.active{
    color:white;
}
.tx-grey{
    color:lightgrey;
}
#summary{
    min-height:400px;
    border-left:1px solid grey
}
#summary h3{
    padding:0.5em 0;
    border-bottom: 1px solid grey;
}
#summary i{
    color:grey;
    min-width:120px;
    display: inline-block;
}