{% extends 'partials/layout.html' %} 
{% include 'partials/head.html' %} 
{% block content %}

<div class="container">
    {% include 'partials/header.html' %}
    <h4>Car factory <select id="carFactory" class="btn btn-default btn-md dropdown">
        <option value="default">Default</option>
    </select>
    
    </h4>
    <div class="row">
        <form action="step2" method="POST">
            {% for car in cars %}
            <div class="col-md-4 class-thumbnail">
                <h3><strong>{{ car.model }}</strong></h3>
                <img class="right" src="{{ url_for('static', filename="img/car_{}.png".format(car.model)) }}"/>
                <h4><i>{{ car.description }}</i></h4>
                <h4>Base price:  <b>&euro;{{ "{:,}".format(car.base_price) }}</b></h4>
                <button class="btn btn-default" name="car_model" value="{{ car.model }}" href="{{ url_for('step2') }}">Configure</a>
            </div>
            {% endfor %}
        </form>
    </div>

</div>

{% include 'partials/footer.html' %}
{% endblock content %}
