{% extends 'layout.html' %} {% include 'head.html' %} {% block content %}

<div class="container">
    
    {% include 'header.html' %}

    <div class="row content">
        <div class="col-md-8">
             {% for engine in engines %}
            <h3>
                <label class="radio-inline col-md-3 class-thumbnail engineradio" data-equipment="{{ engine }}"><input type="radio" name="engineradio" value="{{ engine.name }}"><strong>
            {{ engine.name }}
            </strong>
            <h4> {{ engine.power }} </h4>
            <h4> {{ engine.fuel }} </h4>
            <h4>Price: &euro;{{ "{:,}".format(engine.price) }}</h4>
        </label>
            </h3>
            {% endfor %}

            <div class="col-md-4"><h4>Transmission</h4>
                <select class="form-control">
                <option>Manual</option>
                <option>Automatic</option>
            </select> 
            </div>
        </div>
        <div class="col-md-4" id="summary">
            {% include 'car_details.html' %}
            {% include 'car_engine.html' %}
        </div>
    </div>

    <div class="col-md-8">
        <a class="btn btn-default col-md-2 " href="{{ url_for('step2') }}">
            << Trim</a>
            <a class="btn btn-default col-md-2 right" href="{{ url_for('step4') }}">Interior >></a>
    </div>
    <div class="col-md-4 ">
       {% include 'car_price.html' %}
    </div>
</div>

{% include 'footer.html' %} {% endblock content %}