{% extends 'layout.html' %} {% include 'head.html' %} {% block content %}

<div class="container">
    {% include 'header.html' %}

    <div class="row">
        <form action="step2" method="POST">
            {% for car in cars %}
            <div class="col-md-4 class-thumbnail">
                <h3><strong>{{ car.model }}</strong></h3>
                <h4>Description: {{ car.description }}</h4>
                <h4>Base price: &euro;{{ "{:,}".format(car.base_price) }}</h4>
                <button class="btn btn-default" name="car_model" value="{{car.model}}" href="{{ url_for('step2') }}">Configure</a>
            </div>
            {% endfor %}
        </form>
    </div>

</div>

{% include 'footer.html' %} {% endblock content %}