{% extends 'partials/layout.html' %} 
{% include 'partials/head.html' %} 
{% block content %}

<div class="container">

    {% include 'partials/header.html' %}
   
    <div class="row content">
        <div class="col-md-8">
            {% for trim in trims %}
            <h3>
                <label class="radio-inline col-md-3 class-thumbnail trimradio" data-trim="{{ trim }}"><input type="radio" name="trimradio" value="{{ trim.style }}"><strong>
            {{ trim.style }}
            </strong>
            <h4> {{ trim.description }} </h4>
            <h4>Price: &euro;{{ "{:,}".format(trim.price) }}</h4>
        </label>
            </h3>
            {% endfor %}
        </div>

        <div class="col-md-4" id="summary">
            {% include 'partials/car_details.html' %}
        </div>
        <br class="clearfix"/>
    </div>

    <div class="col-md-8">
        <a class="btn btn-default col-md-2 " href="{{ url_for('step1') }}">
            << Class</a>
            <form action="step3" method="POST">
            <input class="hidden"  id="carModel" name="car_model" value="{{car.model}}"/>
            <input class="hidden"  id="trimStyle" name="trim_style" value="{{car.trim.style}}"/>
            <input class="hidden"  id="trimPrice" name="trim_price" value="{{ car.trim.price }}"/>
            <button class="btn btn-default col-md-2 right" href="{{ url_for('step3') }}">Engine >>
            </form>
    </div>
{% include 'partials/footer.html' %} 
{% endblock content %}